<footer class="group">
	<a href="{site_url}" class="no-hover"><img src="{site_url}img/logo.png" alt="Nanotag Technologies" id="footer-logo"></a>
	<div id="footer-nav">
		<ul id="main-nav">
			<li><a href="{site_url}">Home</a></li>
			<li><a href="{site_url}about">About</a></li>
			<li><a href="{site_url}products">Products</a></li>
			<li><a href="{site_url}news">News</a></li>
			<li><a href="{site_url}contact">Contact</a></li>
		</ul>
		<ul id="subnav">
			<li><a href="{site_url}support/faq">FAQs</a></li>
			<li><a href="{site_url}privacy">Privacy Policy</a></li>
			<li><a href="{site_url}terms-conditions">Terms & Conditions</a></li>
			<li><a href="#" class="icon-facebook no-hover" aria-hidden="true"></a></li>
			<li><a href="#" class="icon-linkedin no-hover" aria-hidden="true"></a></li>
		</ul>
	</div>
	<p id="copy">&copy; Nanotag Technologies {current_time format="%Y"}</p>
	<p id="postroch">Site by <a href="http://postroch.com" target="_blank" class="no-hover">POSTROCH</a></p>
</footer>

<script src="{site_url}js/nanotag.min.js"></script>
