<header>
	<a href="{site_url}" class="no-hover"><img src="{site_url}img/logolarge.png" alt="Nanotag Technologies" id="logo"></a>
	<nav>
		<ul class="group">
			<li><a href="#" class="icon-close" aria-hidden="true"></a></li>
			<li><a href="{site_url}">Home</a></li>
			<!-- <li><a href="{site_url}products">Products</a></li> -->
			<li class="has-dropdown"><a href="{site_url}support" class="dd-parent">Support</a>
				<ul class="dropdown">
					<li class="no-desktop"><a href="{site_url}support" class="no-hover">Support</a></li>
					{exp:structure:nav start_from="/support" include_ul="no"}
				</ul>
			</li>
			<li class="has-dropdown"><a href="{site_url}about" class="dd-parent">About</a>
				<ul class="dropdown">
					<li class="no-desktop"><a href="{site_url}about" class="no-hover">About</a></li>
					{exp:structure:nav start_from="/about" include_ul="no"}
				</ul>
			</li>
			<li><a href="{site_url}news">News</a></li>
			<li><a href="{site_url}contact">Contact</a></li>
			<!-- <li class="no-desktop"><a href="{site_url}cart" class="no-hover icon-cart" aria-hidden="true"></a></li> -->
		</ul>
	</nav>
	<a href="#" class="icon-menu" aria-hidden="true"></a>
</header>
