<div id="products">
	<div class="wrapper">
		<h2>Products</h2>
		<p id="intro-par">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod voluptatum repudiandae temporibus praesentium odio reiciendis qui molestias laboriosam ab. Nisi doloribus adipisci at, earum enim, sit laudantium est iste aut!</p>
		<div class="flexslider">
          <ul class="slides">
			<li>
				<div class="product">
					<a href="product-detail.html" class="no-hover"><img src="img/product1.jpg" alt="product"></a>
					<a href="product-detail.html" class="no-hover"><h4>Product Name</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="product-detail.html" class="read-more">Read More</a>
				</div>
			</li>
			<li>
				<div class="product">
					<a href="product-detail.html" class="no-hover"><img src="img/product1.jpg" alt="product"></a>
					<a href="product-detail.html" class="no-hover"><h4>Product Name</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="product-detail.html" class="read-more">Read More</a>
				</div>
			</li>
			<li>
				<div class="product">
					<a href="product-detail.html" class="no-hover"><img src="img/product1.jpg" alt="product"></a>
					<a href="product-detail.html" class="no-hover"><h4>Product Name</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="product-detail.html" class="read-more">Read More</a>
				</div>
			</li>
			<li>
				<div class="product">
					<a href="product-detail.html" class="no-hover"><img src="img/product1.jpg" alt="product"></a>
					<a href="product-detail.html" class="no-hover"><h4>Product Name</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="product-detail.html" class="read-more">Read More</a>
				</div>
			</li>
			<li>
				<div class="product">
					<a href="product-detail.html" class="no-hover"><img src="img/product1.jpg" alt="product"></a>
					<a href="product-detail.html" class="no-hover"><h4>Product Name</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="product-detail.html" class="read-more">Read More</a>
				</div>
			</li>
			<li>
				<div class="product">
					<a href="product-detail.html" class="no-hover"><img src="img/product1.jpg" alt="product"></a>
					<a href="product-detail.html" class="no-hover"><h4>Product Name</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="product-detail.html" class="read-more">Read More</a>
				</div>
			</li>
		</ul>
	  </div>
	  <a href="products.html" class="main-btn no-hover">View All Products</a>
	</div>
</div>
