<!-- <div id="products">
	<div class="wrapper">
		<h2>Products</h2>
		{exp:channel:entries channel="inner" limit="1" dynamic="no" url_title="products" disable="{gv_disable_all}"}
		<p id="intro-par">{exp:eehive_hacksaw}{page_content}{/exp:eehive_hacksaw}</p>
		{/exp:channel:entries}
		<div class="flexslider">
      <ul class="slides">
				{exp:channel:entries channel="product" limit="10" dynamic="no" orderby="random" disable="{gv_disable_all}"}
			<li>
				<div class="product">
					<a href="{page_url}" class="no-hover"><img src="{product_image}" alt="product"></a>
					<a href="{page_url}" class="no-hover"><h4>{title}</h4></a>
					<p>{exp:eehive_hacksaw words="20" append="..."}{description}{/exp:eehive_hacksaw}</p>
					<a href="{page_url}" class="read-more">Read More</a>
				</div>
			</li>
			{/exp:channel:entries}
		</ul>
	  </div>
	  <a href="{site_url}products" class="main-btn no-hover">View All Products</a>
	</div>
</div> -->
