{exp:channel:entries channel="inner" limit="1" disable="{gv_disable_all}"}
<!doctype html>
{embed="embeds/head"}
<body>

{embed="embeds/header"}

<div id="listing">
	<div class="wrapper">
		<h2>{title}</h2>
		<p id="intro-par">{exp:eehive_hacksaw}{page_content}{/exp:eehive_hacksaw}</p>
		{/exp:channel:entries}
		<div id="list-wrapper">
      <ul>
				{exp:channel:entries channel="news" dynamic="no" limit="6" disable="{gv_disable_all}"}
			<li class="list-item">
				<div class="item">
					<a href="{page_url}" class="no-hover"><img src="{news_image}" alt="{title}"></a>
					<a href="{page_url}" class="no-hover"><h4>{title}</h4></a>
					<p>{exp:eehive_hacksaw words="20" append="..."}{news_content}{/exp:eehive_hacksaw}</p>
					<a href="{page_url}" class="read-more">Read More</a>
				</div>
			</li>
			{paginate}
  {pagination_links}
    <ul>
      {first_page}
        <li><a href="{pagination_url}" class="page-first"><<</a></li>
      {/first_page}

      {previous_page}
        <li><a href="{pagination_url}" class="page-previous"><</a></li>
      {/previous_page}

      {page}
        <li><a href="{pagination_url}" class="page-{pagination_page_number} {if current_page}active{/if}">{pagination_page_number}</a></li>
      {/page}

      {next_page}
        <li><a href="{pagination_url}" class="page-next">></a></li>
      {/next_page}

      {last_page}
        <li><a href="{pagination_url}" class="page-last">>></a></li>
      {/last_page}
    </ul>
  {/pagination_links}
{/paginate}
			{/exp:channel:entries}
		</ul>
	  </div>
	</div>
</div>
{embed="embeds/footer"}
</body>
</html>
