<!doctype html>
{embed="embeds/head"}
<body>

{embed="embeds/header"}

<div id="listing">
	<div class="wrapper">
		<h2>Latest News</h2>
		<p id="intro-par">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod voluptatum repudiandae temporibus praesentium odio reiciendis qui molestias laboriosam ab. Nisi doloribus adipisci at, earum enim, sit laudantium est iste aut!</p>
		<div id="list-wrapper">
          <ul>
			<li class="list-item">
				<div class="item">
					<a href="#" class="no-hover"><img src="img/news1.jpg" alt="news"></a>
					<a href="#" class="no-hover"><h4>News Article Title</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="#" class="read-more">Read More</a>
				</div>
			</li>
			<li class="list-item">
				<div class="item">
					<a href="#" class="no-hover"><img src="img/news1.jpg" alt="news"></a>
					<a href="#" class="no-hover"><h4>News Article Title</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="#" class="read-more">Read More</a>
				</div>
			</li>
			<li class="list-item">
				<div class="item">
					<a href="#" class="no-hover"><img src="img/news1.jpg" alt="news"></a>
					<a href="#" class="no-hover"><h4>News Article Title</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="#" class="read-more">Read More</a>
				</div>
			</li>
			<li class="list-item">
				<div class="item">
					<a href="#" class="no-hover"><img src="img/news1.jpg" alt="news"></a>
					<a href="#" class="no-hover"><h4>News Article Title</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="#" class="read-more">Read More</a>
				</div>
			</li>
			<li class="list-item">
				<div class="item">
					<a href="#" class="no-hover"><img src="img/news1.jpg" alt="news"></a>
					<a href="#" class="no-hover"><h4>News Article Title</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="#" class="read-more">Read More</a>
				</div>
			</li>
			<li class="list-item">
				<div class="item">
					<a href="#" class="no-hover"><img src="img/news1.jpg" alt="news"></a>
					<a href="#" class="no-hover"><h4>News Article Title</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="#" class="read-more">Read More</a>
				</div>
			</li>
		</ul>
	  </div>
	</div>
</div>
{embed="embeds/footer"}
</body>
</html>
