<!doctype html>
{embed="embeds/head"}
<body>

{embed="embeds/header"}

<div id="listing">
	<div class="wrapper">
		<h2>Products</h2>
		<p id="intro-par">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod voluptatum repudiandae temporibus praesentium odio reiciendis qui molestias laboriosam ab. Nisi doloribus adipisci at, earum enim, sit laudantium est iste aut!</p>
		<div id="search-panel" class="group">
			<div id="select-wrap" class="group">
				<label for="filter">Filter:</label>
				<select name="filter" id="filter">
					<option value="">All</option>
					<option value="fluorescent">Fluorescent</option>
					<option value="beads">Beads</option>
					<option value="proteins-enzymes">Proteins & Enzymes</option>
					<option value="others">Others</option>
				</select>
			</div>
			<form action="" class="group">
				<input type="text" name="keywords" placeholder="Enter search terms">
				<input type="submit" value="Search">
			</form>
		</div>
		<div id="list-wrapper">
          <ul>
			<li class="list-item fluorescent">
				<div class="item">
					<a href="product-detail.html" class="no-hover"><img src="img/product1.jpg" alt="product"></a>
					<a href="product-detail.html" class="no-hover"><h4>Product Name</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="product-detail.html" class="read-more">Read More</a>
				</div>
			</li>
			<li class="list-item beads">
				<div class="item">
					<a href="product-detail.html" class="no-hover"><img src="img/product1.jpg" alt="product"></a>
					<a href="product-detail.html" class="no-hover"><h4>Product Name</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="product-detail.html" class="read-more">Read More</a>
				</div>
			</li>
			<li class="list-item proteins-enzymes">
				<div class="item">
					<a href="product-detail.html" class="no-hover"><img src="img/product1.jpg" alt="product"></a>
					<a href="product-detail.html" class="no-hover"><h4>Product Name</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="product-detail.html" class="read-more">Read More</a>
				</div>
			</li>
			<li class="list-item">
				<div class="item">
					<a href="product-detail.html" class="no-hover"><img src="img/product1.jpg" alt="product"></a>
					<a href="product-detail.html" class="no-hover"><h4>Product Name</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="product-detail.html" class="read-more">Read More</a>
				</div>
			</li>
			<li class="list-item fluorescent">
				<div class="item">
					<a href="product-detail.html" class="no-hover"><img src="img/product1.jpg" alt="product"></a>
					<a href="product-detail.html" class="no-hover"><h4>Product Name</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="product-detail.html" class="read-more">Read More</a>
				</div>
			</li>
			<li class="list-item beads">
				<div class="item">
					<a href="product-detail.html" class="no-hover"><img src="img/product1.jpg" alt="product"></a>
					<a href="product-detail.html" class="no-hover"><h4>Product Name</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="product-detail.html" class="read-more">Read More</a>
				</div>
			</li>
			<li class="list-item proteins-enzymes">
				<div class="item">
					<a href="product-detail.html" class="no-hover"><img src="img/product1.jpg" alt="product"></a>
					<a href="product-detail.html" class="no-hover"><h4>Product Name</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="product-detail.html" class="read-more">Read More</a>
				</div>
			</li>
			<li class="list-item">
				<div class="item">
					<a href="product-detail.html" class="no-hover"><img src="img/product1.jpg" alt="product"></a>
					<a href="product-detail.html" class="no-hover"><h4>Product Name</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="product-detail.html" class="read-more">Read More</a>
				</div>
			</li>
			<li class="list-item">
				<div class="item">
					<a href="product-detail.html" class="no-hover"><img src="img/product1.jpg" alt="product"></a>
					<a href="product-detail.html" class="no-hover"><h4>Product Name</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="product-detail.html" class="read-more">Read More</a>
				</div>
			</li>
			<li class="list-item">
				<div class="item">
					<a href="product-detail.html" class="no-hover"><img src="img/product1.jpg" alt="product"></a>
					<a href="product-detail.html" class="no-hover"><h4>Product Name</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="product-detail.html" class="read-more">Read More</a>
				</div>
			</li>
		</ul>
	  </div>
	</div>
</div>
{embed="embeds/footer"}
</body>
</html>
