<!doctype html>
{embed="embeds/head"}
<body class="product-detail">

{embed="embeds/header"}

<div class="inner" id="product-detail">
	<div class="inner-content group" id="product-content">
		<h1>Product Name</h1>
		<div id="intro" class="group">
			<div id="image-wrap">
				<img src="img/product1.jpg" alt="product">
				<a href="#gallery" class="icon-view no-hover" aria-hidden="true"></a>
			</div>
			<div id="text-wrap">
				<h2>Description</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur sequi id vel temporibus neque, consequatur natus tempora sit libero obcaecati, eligendi mollitia quam laudantium impedit eum eos voluptatibus, explicabo</p>
				<a href="#" class="main-btn no-hover">Add to Cart</a>
			</div>
		</div>
		<h2>Specifications</h2>
		<p>
			<span>Immunogen:</span>
			Lorem ipsum dolor sit amet.<br>
			<span>Specificity:</span>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa nihil eum ducimus cupiditate corporis.<br>
			<span>Epitope:</span>
			Lorem ipsum dolor sit amet.<br>
			<span>Reactivity:</span>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut quas sunt temporibus.<br>
		</p>
		<h2>Applications</h2>
		<h5>Immunoprecipitation(IP)</h5>
		<ul>
			<li><a href="#" class="icon-file no-hover" aria-hidden="true">Protocol</a></li>
			<li><a href="#" class="icon-file no-hover" aria-hidden="true">MSDS</a></li>
			<li><a href="#" data-gallery="ip" class="icon-image no-hover gallery-link" aria-hidden="true">Gallery</a></li>
		</ul>
		</p>
		<h5>Immunofluorescence(IF)</h5>
		<ul>
			<li><a href="#" class="icon-file no-hover" aria-hidden="true">Protocol</a></li>
			<li><a href="#" class="icon-file no-hover" aria-hidden="true">MSDS</a></li>
			<li><a href="#" data-gallery="if" class="icon-image no-hover gallery-link" aria-hidden="true">Gallery</a></li>
		</ul>
		</p>
		<h2>Conjugations</h2>
		<ul>
			<li>None - &euro;30/1mg vial.</li>
			<li>Alexa488 - &euro;50/1mg vial.</li>
			<li>Cy5 - &euro;50/1mg vial.</li>
			<li>Custom - Please <a href="cart.html">contact us</a>.</li>
		</ul>
		<h2>References</h2>
		<p>Aggregation of alpha-synuclein in Lewy bodies of sporadic Parkinson′s disease and dementia with Lewy bodies.<br>Baba M, Nakajo S, Tu PH, Tomita T, Nakaya K, Lee VM, Trojanowski JQ, Iwatsubo T
		Am J Pathol 1998 (152):879-884</p>
		<p>Aggregation of alpha-synuclein in Lewy bodies of sporadic Parkinson′s disease and dementia with Lewy bodies.<br>Baba M, Nakajo S, Tu PH, Tomita T, Nakaya K, Lee VM, Trojanowski JQ, Iwatsubo T
		Am J Pathol 1998 (152):879-884</p>
		<p>Aggregation of alpha-synuclein in Lewy bodies of sporadic Parkinson′s disease and dementia with Lewy bodies.<br>Baba M, Nakajo S, Tu PH, Tomita T, Nakaya K, Lee VM, Trojanowski JQ, Iwatsubo T
		Am J Pathol 1998 (152):879-884</p>
		<a href="#" class="main-btn" style="margin-top:40px;">Add to Cart</a>
	</div>
</div>

<div id="related-products">
	<div class="wrapper">
		<h2>Related Products</h2>
          <ul class="slides">
			<li>
				<div class="product">
					<a href="" class="no-hover"><img src="img/product1.jpg" alt="product"></a>
					<a href="" class="no-hover"><h4>Product Name</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="#" class="read-more">Read More</a>
				</div>
			</li>
			<li>
				<div class="product">
					<a href="" class="no-hover"><img src="img/product1.jpg" alt="product"></a>
					<a href="" class="no-hover"><h4>Product Name</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="#" class="read-more">Read More</a>
				</div>
			</li>
			<li>
				<div class="product">
					<a href="" class="no-hover"><img src="img/product1.jpg" alt="product"></a>
					<a href="" class="no-hover"><h4>Product Name</h4></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quidem, incidunt, perspiciatis nesciunt reiciendis cumque tempore libero necessitatibus, deleniti temporibus adipisci. Voluptatem pariatur rerum iste, porro fugiat magni itaque alias...</p>
					<a href="#" class="read-more">Read More</a>
				</div>
			</li>
		</ul>
	<a href="products.html" class="main-btn no-hover">View All Products</a>
</div>
</div>

<!-- Modal Gallery -->
<div id="gallery">
	<div id="modal-bg"></div>
	<a href="#" class="icon-close no-hover" aria-hidden="true"></a>
	<div class="gallery-slider">
		<ul class="slides">
			<li class="slide" id="0" data-application="if">
				<img src="img/product1.jpg" alt="">
				<p class="flex-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit adipisci sed porro est cupiditate eaque, culpa voluptatum sint eius, molestiae suscipit quis saepe aut reiciendis! Debitis repellat fuga at nostrum.</p>
			</li>
			<li class="slide" id="1" data-application="ip">
				<img src="img/product2.jpg" alt="">
				<p class="flex-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit minus soluta tempore ad. Similique omnis atque voluptates esse odio, minus natus modi maiores eaque dicta magnam ex molestias dolore et.</p>
			</li>
			<li class="slide" id="2" data-application="if">
				<img src="img/news1.jpg" alt="">
				<p class="flex-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ut ea sint odit, quos atque nesciunt? Eos id optio cumque, sapiente beatae obcaecati quis ea! Ea nam illo pariatur ratione.</p>
			</li>
			<li class="slide" id="3" data-application="ip">
				<img src="img/news2.jpg" alt="">
				<p class="flex-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus tempora libero, cumque illum, reiciendis voluptate ut, sed, maxime eveniet quibusdam veritatis. Debitis, voluptatibus consequatur corrupti aut hic quod voluptates sunt.</p>
			</li>
			<li class="slide" id="4" data-application="ip">
				<img src="img/news2.jpg" alt="">
				<p class="flex-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus tempora libero, cumque illum, reiciendis voluptate ut, sed, maxime eveniet quibusdam veritatis. Debitis, voluptatibus consequatur corrupti aut hic quod voluptates sunt.</p>
			</li>
		</ul>
	</div>
</div>
{embed="embeds/footer"}
</body>
</html>
