{exp:channel:entries channel="product" limit="1" disable="{gv_disable_all}"}
<!doctype html>
{embed="embeds/head"}
<body class="product-detail">

{embed="embeds/header"}

<div class="inner" id="product-detail">
	<div class="inner-content group" id="product-content">
		<h1 id="product-name">{title}</h1>
		<div id="intro" class="group">
			<div id="image-wrap">
				<img src="{product_image}" alt="{title}">
				<a href="#gallery" class="icon-view no-hover" aria-hidden="true"></a>
			</div>
			<div id="text-wrap">
				<p>{description}</p>
				<p>
					{specifications}
					<span>Immunogen:</span>
					{specifications:immunogen}<br>
					<span>Specificity:</span>
					{specifications:specificity}<br>
					<span>Epitope:</span>
					{specifications:epitope}<br>
					<span>Reactivity:</span>
					{specifications:reactivity}<br>
					{/specifications}
				</p>
			</div>
		</div>
		<div id="applications">
			<h2>Applications</h2>
			{applications}
			<div class="application">
				<h5>{applications:application_name}</h5>
				<ul>
					{if applications:protocol}<li><a href="{applications:protocol}" class="icon-file no-hover" aria-hidden="true" target="_blank">Protocol</a></li>{/if}
					{if applications:msds}<li><a href="{applications:msds}" class="icon-file no-hover" aria-hidden="true" target="_blank">MSDS</a></li>{/if}
					{if '{applications:gallery}'=='Yes'}<li><a href="#" data-gallery="{applications:application_name}" class="icon-image no-hover gallery-link" aria-hidden="true">Gallery</a></li>{/if}
				</ul>
			</div>
			{/applications}
		</div>
		<div id="conjugations">
			<h2>Conjugations</h2>
			{no_conjugation}
			<div class="conjugation">
				<h5>None</h5>
				<ul>
					<li>Quantity: {no_conjugation:quantity}</li>
					<li>Price: &euro;{no_conjugation:price}</li>
				</ul>
				<a href="#" data-name="{title}" data-quantity="{no_conjugation:quantity}" data-conjugation="None" data-number="{product_number}" data-price="{no_conjugation:price}" class="main-btn no-hover add-to-cart">Add to Cart</a>
			</div>
			{/no_conjugation}
			{conjugations}
			<div class="conjugation">
				<h5>{conjugations:name}</h5>
				<ul>
					<li>Quantity: {conjugations:quantity}</li>
					<li>Price: &euro;{conjugations:price}</li>
				</ul>
				<a href="#" data-name="{title}" data-quantity="{conjugations:quantity}" data-conjugation="{conjugations:name}" data-number="{product_number}" data-price="{conjugations:price}" class="main-btn no-hover add-to-cart">Add to Cart</a>
			</div>
			{/conjugations}
			{if '{custom_conjugation}'=='Yes'}
			<div class="conjugation">
				<h5>Custom</h5>
				<ul>
					<li>Quantity: Request Order</li>
					<li>Price: Request Order</li>
				</ul>
				<p></p>
				<a href="#" data-name="{title}" data-quantity="Please specify below." data-conjugation="Custom" data-number="{product_number}" data-price="Request Quote" class="main-btn no-hover add-to-cart">Add to Cart</a>
			</div>
			{/if}
		</div>
		{if '{references:total_rows}' > 0}
		<div id="references">
			<h2>References</h2>
			{references}
			<p>{references:title}<br>{references:details}</p>
			{/references}
			{/if}
		</div>
		<a href="{site_url}cart" class="main-btn no-hover">View Cart</a>
	</div>
</div>

{if '{related_products:count}' != ''}
<div id="related-products">
	<div class="wrapper">
		<h2>Related Products</h2>
    <ul class="slides">
			{related_products}
			<li>
				<div class="product">
					<a href="{site_url}products/{related_products:url_title}" class="no-hover"><img src="{related_products:product_image}" alt="{related_products:title}"></a>
					<a href="{site_url}products/{related_products:url_title}" class="no-hover"><h4>{related_products:title}</h4></a>
					<p>{exp:eehive_hacksaw words="20" append="..."}{related_products:description}{/exp:eehive_hacksaw}</p>
					<a href="{site_url}products/{related_products:url_title}" class="read-more">Read More</a>
				</div>
			</li>
			{/related_products}
		</ul>
	<a href="{site_url}products" class="main-btn no-hover">View All Products</a>
</div>
</div>
{/if}

<!-- Modal Gallery -->
<div id="gallery">
	<div id="modal-bg"></div>
	<a href="#" class="icon-close no-hover" aria-hidden="true"></a>
	<div class="gallery-slider">
		<ul class="slides">
			{product_gallery}
			<li class="slide" id="{product_gallery:count}" data-application="{product_gallery:application}">
				<img src="{product_gallery:image}" alt="{title}">
				<p class="flex-caption">{product_gallery:image_caption}</p>
			</li>
			{/product_gallery}
		</ul>
	</div>
</div>
{embed="embeds/footer"}
<script>
	$(document).ready(function(){
		if(Cookies.get('cart')){
			var order = Cookies.get('cart');
			cart = JSON.parse(order);
			// Update buttons if in cart
			var productName = $('#product-name').text();
			var orderedConjugations = '';
			$.each(cart, function(i, product) {
				if(product[0] == productName){
					orderedConjugations = orderedConjugations + ' ' + product[2];
				}
			});
			$('.add-to-cart').each(function(){
				var conjugation = $(this).attr('data-conjugation');
				if(orderedConjugations.indexOf(conjugation) > 0){
					$(this).text('Added to Cart');
				}
			});
		} else {
			cart = new Array();
		}
		$('.add-to-cart').click(function(e){
			e.preventDefault();
			var productName = $(this).attr('data-name');
			var quantity = $(this).attr('data-quantity');
			var conjugation = $(this).attr('data-conjugation');
			var price = $(this).attr('data-price');
			var product = [productName,quantity,conjugation,price];
			cart.push(product);
			var order = JSON.stringify(cart);
			Cookies.set('cart', order);
			$(this).text('Added to Cart');
		});
	});
</script>
</body>
</html>
{/exp:channel:entries}
