<!doctype html>
{embed="embeds/head"}
<body>

{embed="embeds/header"}

<div class="application-form">
	<div class="wrapper">
		<form class="form-horizontal" method="" action="" novalidate="novalidate">
			<div class="form-section group">
				<div class="form-wrapper group">
					<h1>Shopping Cart</h1>
					<div id="cart" class="group">
						<table>
						  <tr class="blue">
						    <th class="left">Product Name</th>
						    <th>Conjugation</th>
						    <th>CAT#</th>
						    <th>Price</th>
						    <th>Quantity</th>
						    <th>Total</th>
						    <th>Remove</th>
						  </tr>
						  <tr>
						    <td class="left">Product Name</td>
						    <td>
						    	<select name="" id="">
									<option value="">Select option</option>
									<option value="">None</option>
									<option value="">alexa488</option>
									<option value="">Cy3</option>
									<option value="">Custom</option>
								</select>
						    </td>
						    <td>12345</td>
						    <td>50.00</td>
						    <td>1</td>
						    <td>50.00</td>
						    <td><input type="checkbox" name="remove" value="remove" /></td>
						  </tr>
						  <tr>
						    <td class="left">Product Name</td>
						    <td>
						    	<select name="" id="">
									<option value="">Select option</option>
									<option value="">None</option>
									<option value="">alexa488</option>
									<option value="">Cy3</option>
									<option value="">Custom</option>
								</select>
						    </td>
						    <td>12345</td>
						    <td>50.00</td>
						    <td>2</td>
						    <td>100.00</td>
						    <td><input type="checkbox" name="remove" value="remove" /></td>
						  </tr>
						  <tr>
						    <td class="left">Product Name</td>
						    <td>
						    	<select name="" id="">
									<option value="">Select option</option>
									<option value="">None</option>
									<option value="">alexa488</option>
									<option value="">Cy3</option>
									<option value="">Custom</option>
								</select>
						    </td>
						    <td>12345</td>
						    <td>50.00</td>
						    <td>3</td>
						    <td>150.00</td>
						    <td><input type="checkbox" name="remove" value="remove" /></td>
						  </tr>
						  <tr>
						    <td class="left">Product Name</td>
						    <td>
						    	<select name="" id="">
									<option value="">Select option</option>
									<option value="">None</option>
									<option value="">alexa488</option>
									<option value="">Cy3</option>
									<option value="">Custom</option>
								</select>
						    </td>
						    <td>12345</td>
						    <td>50.00</td>
						    <td>1</td>
						    <td>50.00</td>
						    <td><input type="checkbox" name="remove" value="remove" /></td>
						  </tr>
						  <tr>
						    <td class="left">Product Name</td>
						    <td>
						    	<select name="" id="">
									<option value="">Select option</option>
									<option value="">None</option>
									<option value="">alexa488</option>
									<option value="">Cy3</option>
									<option value="">Custom</option>
								</select>
						    </td>
						    <td>12345</td>
						    <td>50.00</td>
						    <td>2</td>
						    <td>100.00</td>
						    <td><input type="checkbox" name="remove" value="remove" /></td>
						  </tr>
						</table>
						<a href="#" class="main-btn">Update Cart</a>
					</div>
					<label for="name">Name<span class="required_field">*</span></label>
					<div class="input-wrapper">
						<input type="text" name="name" required="required" class="error">
						<span generated="true" class="error">Please enter your name.</span>
					</div>
					<label for="email">Email address<span class="required_field">*</span></label>
			        <div class="input-wrapper">
			          <input type="email" name="email" required="required" class="error">
			          <span generated="true" class="error">Please enter a valid email address.</span>
			        </div>
			        <label for="phone">Phone<span class="required_field">*</span></label>
					<div class="input-wrapper">
						<input type="text" name="phone" required="required">
					</div>
					<label for="institute-company">Institute/Company<span class="required_field">*</span></label>
					<div class="input-wrapper">
						<input type="text" name="institute-company" required="required">
					</div>
					<label for="purchase-order">Purchase Order<span class="required_field">*</span></label>
					<div class="input-wrapper">
						<input type="text" name="purchase-order" required="required">
					</div>
					<label for="vat">VAT NO<span class="required_field">*</span></label>
					<div class="input-wrapper">
						<input type="text" name="vat" required="required">
					</div>
					<label for="address">Address<span class="required_field">*</span></label>
		      		<div class="input-wrapper">
						<textarea name="address" required="required"></textarea>
					</div>
					<label for="comments">Comments<span class="required_field">*</span></label>
					<p class>If ordering custom conjugations please enter the details of your request here:</p>
		      		<div class="input-wrapper">
						<textarea name="comments" required="required"></textarea>
					</div>
					<div class="submit-wrapper">
						<input type="submit" value="Submit" class="main-btn">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{embed="embeds/footer"}
</body>
</html>
