<!doctype html>
{embed="embeds/head"}
<body>

{embed="embeds/header"}

<div class="application-form">
	<div class="wrapper">
		<p id="no-products" style="margin: 20px;">You currently have no products in your cart. Have a look at our <a href="{site_url}products">products</a>.</p>
		{exp:freeform:form form_name="cart" form:id="order-form" form:class="form-horizontal" return="cart/thank-you" required="name|email|phone|company|purchase_order|vat_no|address" inline_errors="yes"}
			<div class="form-section group">
				<div class="form-wrapper group">
					<h1>Shopping Cart</h1>
					<div id="cart" class="group">
						<table id="cart-table">
						  <tr class="blue">
						    <th class="left">Product Name</th>
						    <th>Conjugation</th>
						    <th>Price (&euro;)</th>
						    <th>Quantity</th>
						    <th>Total (&euro;)</th>
						    <th>Remove</th>
						  </tr>
							<!-- Append cart items -->
						</table>
						<a href="#" id="update-cart" class="main-btn">Update Cart</a>
					</div>
					<label for="name">Name<span class="required_field">*</span></label>
					<div class="input-wrapper">
						<input type="text" name="name" {if freeform:error:name}class="error"{/if}>
						{if freeform:error:name}<span generated="true" class="error">Please enter your name.</span>{/if}
					</div>
					<label for="email">Email address<span class="required_field">*</span></label>
	        <div class="input-wrapper">
	          <input type="email" name="email" {if freeform:error:email}class="error"{/if}>
	          {if freeform:error:email}<span generated="true" class="error">Please enter a valid email address.</span>{/if}
	        </div>
	        <label for="phone">Phone<span class="required_field">*</span></label>
					<div class="input-wrapper">
						<input type="text" name="phone" {if freeform:error:phone}class="error"{/if}>
						{if freeform:error:phone}<span generated="true" class="error">Please enter your phone number.</span>{/if}
					</div>
					<label for="company">Institute/Company<span class="required_field">*</span></label>
					<div class="input-wrapper">
						<input type="text" name="company" {if freeform:error:company}class="error"{/if}>
						{if freeform:error:company}<span generated="true" class="error">Please enter your institute/company name.</span>{/if}
					</div>
					<label for="purchase_order">Purchase Order<span class="required_field">*</span></label>
					<div class="input-wrapper">
						<input type="text" name="purchase_order" {if freeform:error:purchase_order}class="error"{/if}>
						{if freeform:error:purchase_order}<span generated="true" class="error">Please enter your purchase order number.</span>{/if}
					</div>
					<label for="vat_no">VAT NO<span class="required_field">*</span></label>
					<div class="input-wrapper">
						<input type="text" name="vat_no" {if freeform:error:vat_no}class="error"{/if}>
						{if freeform:error:vat_no}<span generated="true" class="error">Please enter your VAT number.</span>{/if}
					</div>
					<label for="address">Address<span class="required_field">*</span></label>
      		<div class="input-wrapper">
						<textarea name="address"></textarea>
						{if freeform:error:address}<span generated="true" class="error">Please enter your address.</span>{/if}
					</div>
					<label for="message">Comments</label>
					<p class>If ordering custom conjugations please enter the details of your request here:</p>
	      	<div class="input-wrapper">
						<textarea name="message"></textarea>
					</div>
					<input type="hidden" id="order" name="order" value="">
					<div class="submit-wrapper">
						<input type="submit" value="Submit" id="submit-cart" class="main-btn">
					</div>
				</div>
			</div>
		{/exp:freeform:form}
	</div>
</div>
{embed="embeds/products"}
{embed="embeds/footer"}
<script>
	$(document).ready(function(){
		// Show cart items
		cart = Cookies.get('cart');
		if(cart){
			order = JSON.parse(cart);
			$('#no-products,#products').hide();
			$.each(order, function(i, product) {
			    var item = '<tr class="cart-item" data-name="'+product[0]+'" data-quantity="'+product[1]+'" data-conjugation="'+product[2]+'" data-price="'+product[3]+'" data-amount="'+product[4]+'" data-total-price="'+product[5]+'"><td class="left"><span class="product-name">'+product[0]+'</span> <span class="item-quantity">('+product[1]+')</span></td><td><span class="conjugation">'+product[2]+'</span></td><td class="item-price">'+product[3]+'</td><td><input type="text" name="quantity" class="quantity" value="'+product[4]+'"></td><td class="total">'+product[5]+'</td><td><input type="checkbox" name="remove" value="remove" data-cart-item="'+i+'" class="remove"/></td></tr>';
					$('#cart-table').append(item);
			});
		} else {
			$('#order-form').hide();
		}
		// Update price on quantity selection
		$('.quantity').change(function(){
			var quantity = $(this).val();
			var price = $(this).parent().parent().find('.item-price').text();
			if(price != 'Request Quote'){
				var total = (quantity * price).toFixed(2);
				$(this).parent().parent().find('.total').text(total);
				$(this).parent().parent().attr('data-total-price',total)
			}
			$(this).parent().parent().attr('data-amount',quantity);
		});
		// Remove items on Update
		$('#update-cart').click(function(e){
			e.preventDefault();
			$('.remove').each(function(){
				if($(this).prop('checked')){
					$(this).parent().parent().addClass('delete');
				}
			});
			newCart = new Array();
			$('.cart-item').not('.delete').each(function(){
				var productName = $(this).attr('data-name');
				var quantity = $(this).attr('data-quantity');
				var conjugation = $(this).attr('data-conjugation');
				var price = $(this).attr('data-price');
				var amount = $(this).attr('data-amount');
				var totalPrice = $(this).attr('data-total-price');
				var product = [productName,quantity,conjugation,price,amount,totalPrice];
				newCart.push(product);
				var newOrder = JSON.stringify(newCart);
				Cookies.set('cart', newOrder);
			});
			location.reload();
		});
		// Place order on submit
		$('#order-form').submit(function(){
			orderList='';
			$('.cart-item').each(function(){
				var title = $(this).find('.product-name').text();
				var conjugation = $(this).find('.conjugation').text();
				var quantity = $(this).find('.quantity').val();
				orderList = orderList + '\'' + title + ' ' + '-' + conjugation + '\'(x' + quantity + '),';
			});
			$('#order').attr('value',orderList);
			Cookies.set('cart','');
		});
	});
</script>
</body>
</html>
