<!doctype html>
{embed="embeds/head"}
<body>

{embed="embeds/header"}

<div class="application-form">
	<div class="wrapper">
		<form class="form-horizontal" method="" action="" novalidate="novalidate">
			<div class="form-section group">
				<div class="form-wrapper group">
					<h1>Contact Us</h1>
					<label for="name">Name<span class="required_field">*</span></label>
					<div class="input-wrapper">
						<input type="text" name="name" required="required" class="error">
						<span generated="true" class="error">Please enter your name.</span>
					</div>
					<label for="email">Email address<span class="required_field">*</span></label>
			        <div class="input-wrapper">
			          <input type="email" name="email" required="required" class="error">
			          <span generated="true" class="error">Please enter a valid email address.</span>
			        </div>
					<label for="message">Message<span class="required_field">*</span></label>
		      		<div class="input-wrapper">
						<textarea name="message" required="required"></textarea>
					</div>
					<div class="submit-wrapper">
						<input type="submit" value="Submit" class="main-btn">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

{embed="embeds/footer"}

</body>
</html>
