<!doctype html>
{embed="embeds/head"}
<body class="home">

{embed="embeds/header"}

{exp:channel:entries channel="home" limit="1" disable="{gv_disable_all}"}
<div id="banner" class="bg-img bg-slider">
	<div class="banner-slider">
		<ul class="slides">
			{homepage_slider}
			<li style="background: url('{homepage_slider:image}');">
				<div id="intro">
					{if homepage_slider:link}<a href="{homepage_slider:link}">{/if}<h2>{homepage_slider:heading}</h2>{if homepage_slider:link}</a>{/if}
					<p>{homepage_slider:text}</p>
				</div>
			</li>
			{/homepage_slider}
		</ul>
	</div>
</div>
{/exp:channel:entries}

<!-- <div id="products">
	<div class="wrapper">
		<h2>Products</h2>
		{exp:channel:entries channel="inner" limit="1" dynamic="no" url_title="products" disable="{gv_disable_all}"}
		<p id="intro-par">{exp:eehive_hacksaw}{page_content}{/exp:eehive_hacksaw}</p>
		{/exp:channel:entries}
		<div class="flexslider">
      <ul class="slides">
				{exp:channel:entries channel="home" limit="1" disable="{gv_disable_all}"}
				{featured_products}
			<li>
				<div class="product">
					<a href="{site_url}products/{featured_products:url_title}" class="no-hover"><img src="{featured_products:product_image}" alt="product"></a>
					<a href="{site_url}products/{featured_products:url_title}" class="no-hover"><h4>{featured_products:title}</h4></a>
					<p>{exp:eehive_hacksaw words="20" append="..."}{featured_products:description}{/exp:eehive_hacksaw}</p>
					<a href="{site_url}products/{featured_products:url_title}" class="read-more">Read More</a>
				</div>
			</li>
			{/featured_products}
			{/exp:channel:entries}
		</ul>
	  </div>
	  <a href="{site_url}products" class="main-btn no-hover">View All Products</a>
	</div>
</div> -->

<div id="news">
	<div class="wrapper">
		<h2>News</h2>
		{exp:channel:entries channel="inner" url_title="news" limit="1" dynamic="no" disable="{gv_disable_all}"}
		<p id="intro-par">{exp:eehive_hacksaw}{page_content}{/exp:eehive_hacksaw}</p>
		{/exp:channel:entries}
		<div id="news-wrapper">
	    <ul class="group">
				{exp:channel:entries channel="news" limit="2" dynamic="no" disable="{gv_disable_all}"}
				<li>
					<div class="news-item">
						<img src="{news_image}" alt="news" class="desaturate">
						<h4>{title}</h4>
						<p>{exp:eehive_hacksaw words="20" append="..."}{news_content}{/exp:eehive_hacksaw}</p>
						<a href="{page_url}">Read More</a>
					</div>
				</li>
				{/exp:channel:entries}
			</ul>
		</div>
		<a href="{site_url}news" class="main-btn no-hover">More News</a>
	</div>
</div>

{embed="embeds/footer"}
<script>
	(function() {

		$('.banner-slider').flexslider({
	      slideshow: true,
	      animation: "fade",
	      animationLoop: true,
	      directionNav: false,
				controlNav: true
	    });

  // store the slider in a local variable
  var $window = $(window),
      flexslider;

  // tiny helper function to add breakpoints
  function getGridSize() {
    return (window.innerWidth < 480) ? 1 :
           (window.innerWidth < 760) ? 2 : 3;
  }

  $(function() {
    SyntaxHighlighter.all();
  });

  $window.load(function() {
    $('.flexslider').flexslider({
      animation: "slide",
      animationLoop: true,
      itemWidth: 400,
      itemMargin: 0,
      minItems: 1,
      maxItems: 4,
      move: 1,
      minItems: getGridSize(), // use function to pull in initial value
      maxItems: getGridSize() // use function to pull in initial value
    });
  });

  // check grid size on resize event
  $window.resize(function() {
    var gridSize = getGridSize();

    flexslider.vars.minItems = gridSize;
    flexslider.vars.maxItems = gridSize;
  });
}());
</script>
</body>
</html>
